body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 550px;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 5px;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  input[type="text"], input[type="number"], input[type="datetime-local"] {
    font-size: 15px;
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input[type="text"][readonly] {
    background-color: #f0f0f0;
  }
  
  span {
    display: block;
    padding: 6px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .buttons {
    grid-column: span 2;
    text-align: center;
  }
  
  button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
  }
  @page {
    margin: 0;
}
  @media print {
    body {
        width: 100mm;  /* Cambiado a 58mm */
        height: auto;
        margin: 0;
    }
    form {
        max-width: 80mm; /* Se adapta al nuevo tamaño */
        box-shadow: none;
        padding: 0;
        border: none;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1px;
    }
    label {
        font-weight: bold;
        margin-bottom: 0;
        display: inline-block;
        margin-right: 0;
    }
    input[type="text"], input[type="number"], input[type="datetime-local"], input[type="date"], input[type="time"], span {
        font-size: 14px;
        padding: 4px;
        border: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    button, .buttons {
        display: none;
    }
    footer {
        font-size: 0.8em;
    }
}
